body {
    background-color: rgb(78, 78, 78);
    margin: 0px;
    padding: 0px;
}

#main-container {
    width: 1200px;
    margin-left: calc(50% - 1200px / 2);
}

#box-container1 {
    width: 100%;
    margin-top: calc(10% - 200px / 2);
    display: flex;
}

.flexbox1 {
    flex-grow: 1;
    height: calc(150px - 2px);
    border: 1px solid white;
}

.flexbox1:last-child {
    margin-left: calc(100% - (150px*2));
}

header {
    width: calc(100% - 2px);
    height: calc(100px - 2px);
    border: 1px solid white;
    margin-top: calc(10% - 200px / 2);
}

#box-container2 {
    display: flex;
    margin-top: calc(10% - 200px / 2);
}

.flexbox2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flexbox2:nth-child(2) {
    flex-grow: 0.2;
    height: calc(500px - 2px);
    border: 1px solid white;
    flex-direction: row;
    align-items: center;
}

#box1 {
    width: calc(25px - 2px);
    height: calc(25px - 2px);
    border: 1px solid white;
    margin-left: calc(50% - 25px / 2);
    /* margin-top: calc(200px - 25px / 2); */
}

.flexbox3 {
    height: calc(100px - 2px);
    border: 1px solid white;
    margin-left: calc(50% - 300px / 2);
    margin-right: calc(50% - 300px / 2);
    margin-bottom: 33px;
}

.flexbox3:last-child {
    margin-bottom: 0px;
}